:root {
	--righteous-font: 'Righteous', cursive;
}

body {
	
    min-height: 100vh;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.3rem;	
    background-size: 100rem;
    background-image: url(images/garden.jpg);    	    
}
.hero {
	position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
}

h1 {
	margin-top: 12rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: var(--righteous-font);
}

.lead {
	font-size: 1.5rem;
	font-family: var(--righteous-font);
}
ul {
	/*border-top: 2px solid white;*/
	margin-top: 2rem;
	list-style: none;
	/*display: none;*/
}
li {
	border-bottom: 1px solid white;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
}
.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}

/* navbar CSS starts*/

.bg-light{
  padding: 1.5rem;
  background-color: #199e19!important;
}

.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #66ee9e!important;
  font-weight: bold;
}

.nav-link{
  color: #66ee9e!important;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 10px;
  font-size: larger;
}

.nav-link:hover{
  background-color: #bce4aa;
  color: #199e19 !important;
}

.navbar-nav {
  margin-left: 80%;
}

/* navbar CSS ends */