body {
    background-size: 100rem;
    background-image: url(images/garden.jpg);
}

h1 {
    padding: 7rem 0 3rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 3rem;
    color: #149614;
}

.input-query {
    color: #096809;
    font-size: 2rem;
    padding-left: 40%;
    font-weight: 600;
}

.btn {
    font-size: 2rem;
    padding: 0 2rem;
    margin-top: 1rem;
    margin-left: 42rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.card {
    align-items: center;
    margin: auto;
    width: 40%;
    border-radius: 10px;
}

.input-line {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}

/* navbar CSS starts*/

.bg-light{
    padding: 1.5rem;
    background-color: #199e19!important;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #66ee9e!important;
    font-weight: bold;
}

.nav-link{
    color: #66ee9e!important;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 10px;
    font-size: larger;
}

.nav-link:hover{
    background-color: #bce4aa;
    color: #199e19 !important;
}

.navbar-nav {
    margin-left: 80%;
}

/* navbar CSS ends */